<div id="parallax">
<div class="container">
  <div class="row">
    {{#each result}}
      <div class="col-md-4">
        <div class="row">
          <div class="news-container" data-id="{{this._id}}">
            <h3>{{this.title}}</h3>
              <p class="news-summary">{{this.summary}}</p>
              <a class="news-url" href="{{this.link}}">{{this.link}}</a>
              <p id="note-title">Notes</p>
                {{#if this.note}}
                  {{#each this.note}}
                    <p id="note">{{this.note}}</p>
                      <!-- <p id="note-time">{{this.created_time}}</p> -->
                        {{/each}}
                      {{/if}}
            </div>
        </div>
       <div class="note-section">
        <div class="row">
          <div class="form-group col-md-7">
            <input type="text" id="note-input">
          </div>
          <div class="col-md-5">
            <button type="submit" id="save-note" class="btn-sml btn-outline-secondary">Note</button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
</div>
